<footer>
    <div class="footer-socmed-links">
        <a href="#"><img src="/images/nav/fb.svg" alt="social media icon"></a>
        <a href="#"><img src="/images/nav/yt.svg" alt="social media icon"></a>
        <a href="#"><img src="/images/nav/ig.svg" alt="social media icon"></a>
    </div>
    <div class="footer-links">
        <a href="/">home</a>
        <a href="/quiz">quiz</a>
        <a href="/about-me">about me</a>
        <a href="/about-anime">about anime</a>
    </div>
    <div class="copyright">
        <p>&copy; 2024 <a href="https://github.com/chisedotdev" target="_blank">chisedotdev</a>. All rights reserved.</p>
    </div>
</footer>