<div class="modal" id="result">
    <div class="modal-content">
    <h1>Your result</h1>
    <p>Score</p>
    <p class="violet-text" id="score"></p>
    <div class="modal-btns">
        <a class="go-home" href="/">Go home</a>
        <a class="play-again" href="/quiz">Play again?</a>
    </div>
    </div>
</div>