<nav>
    <div class="mobile">
        <a href="/" class="logo"><h1>aniquiz</h1></a>
        <div class="burger">
            <div class="burger-line"></div>
            <div class="burger-line"></div>
            <div class="burger-line"></div>
        </div>
    </div>
    <div id="navlinks" class="">
        <a href="/">home</a>
        <a href="/quiz">quiz</a>
        <a href="/about-me">about me</a>
        <a href="/about-anime">about anime</a>
    </div>
</nav>